{% extends 'layout.twig' %}

{% block content %}

<div class="hero-unit">
    <h1>Login!</h1>
    <p>You must authenticate to proceed.</p>
    <p>
        <a class="btn btn-inverse btn-large" href="{{ url_login }}">Login with Github</a>
    </p>
</div>

{% endblock %}